*.orig
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/app.exe
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/app.exe.mdb
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/app.info
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/Sce.PlayStation.HighLevel.GameEngine2D.dll
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/Sce.PlayStation.HighLevel.UI.dll
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/shaders/Simple.cgx
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/System.Core.dll
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/System.Json.dll
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/System.Runtime.Serialization.dll
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/System.ServiceModel.dll
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/System.ServiceModel.Web.dll
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/System.Xml.dll
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/textures/1.png
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/textures/Blocks.png
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/textures/Divider.png
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/textures/Particle.png
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/textures/PlaceholderMenuScreen.png
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/textures/PlaceholderTitleScreen.png
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/textures/SideBar.png
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/Application/textures/TestSprite.png
WildMonsters/WildMonsters/bin/Debug/WildMonsters-unsigned/System/pm.dat
WildMonsters/WildMonsters/obj/Debug/app.exe
WildMonsters/WildMonsters/obj/Debug/app.pdb
WildMonsters/WildMonsters/obj/Debug/convertedpdb/app.exe.mdb
WildMonsters/WildMonsters/obj/Debug/shaders/shaders/Simple.cgx
WildMonsters/WildMonsters/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WildMonsters/WildMonsters/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WildMonsters/WildMonsters/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WildMonsters/WildMonsters/obj/Debug/WildMonsters.csproj.FileListAbsolute.txt
